{{#partial "head"}} {{{ checkout.checkout_head }}} {{{ stylesheet
'/assets/css/optimized-checkout.css' }}} {{ getFontsCollection }}

<script type="text/javascript">
  window.language = {{{langJson 'optimized_checkout'}}};
</script>
<script src="https://checkout-sdk.bigcommerce.com/v1/loader.js"></script>

{{{head.scripts}}} {{/partial}} {{#partial "page"}}
<header class="checkoutHeader optimizedCheckout-header">
  <div class="checkoutHeader-content">
    <!-- <span class="back-for-mobile">
      <a href="{{urls.home}}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path
            d="m4.27 12.042 5.41 4.755.982-.987-3.66-3.218H20.87v-1.279H7l3.673-3.228-1.005-.883-5.4 4.84Z"
          />
        </svg>
      </a>
    </span> -->
    <span class="checkoutHeader-content-left">
      <h1 class="is-srOnly">{{lang 'checkout.title'}}</h1>
      <h2 class="checkoutHeader-heading">
        <a class="checkoutHeader-link" href="{{urls.home}}">
          {{#if checkout.header_image}}
          <img
            alt="{{settings.store_logo.title}}"
            class="checkoutHeader-logo"
            id="logoImage"
            src="{{ checkout.header_image }}"
          />
          {{ else }}
          <span class="header-logo-text">{{settings.store_logo.title}}</span>
          {{/if}}
        </a>
      </h2>
    </span>
    <span class="checkoutHeader-content-right optimizedCheckout-contentPrimary">
      <span>
        <i aria-hidden="true" class="icon icon-lock-outline">
          <svg viewBox="-64 0 512 512" id="icon-lock-outline">
            <path
              d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"
            ></path>
            <path
              d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"
            ></path>
          </svg>
        </i>
        SECURE CHECKOUT
      </span>
    </span>
  </div>
</header>
{{{ checkout.checkout_content }}} {{{ footer.scripts }}} {{/partial}} {{>
layout/empty}}

<!-- <script>
  const BC_SETTINGS = {{{ json settings }}};
  const CUSTOMER = {{{ json customer}}};

  const redeem_login_id = "redeem-login";
  const {
    request: { referer },
  } = BC_SETTINGS;
  const redirectToCart = `${referer}cart`;

  const changeNavigationLink = (target) => {
    if (target && target?.href?.includes("sandbox")) {
      // target.href = redirectToCart;
      target.href = `javascript:location.replace('${redirectToCart}')`;
      // target.href = `javascript:window.history.back();`;
    }
  };

  const createLPMutaionObserver = () => {
    console.log("%cMutaion Observer Script - initialized", "color:green");

    const redeem_login_div = document.createElement("div");
    redeem_login_div.id = "redeem-login-div";
    let redeem_login = `<p id=${redeem_login_id}>To redeem your loyalty points </p> <a data-test="customer-continue-button" id="checkout-customer-login" class="button optimizedCheckout-buttonSecondary" href=${redirectToCart}?login=true replace>Login</a>`;

    var ReactModalPortal_MutationObserver = new MutationObserver(function (
      mutations
    ) {
      mutations
        .filter((mutation_ReactModalPortal) =>
          mutation_ReactModalPortal?.target?.className?.includes(
            "ReactModalPortal"
          )
        )
        .forEach(function (mutation_react_modal_portal) {
          if (mutation_react_modal_portal.target.childElementCount > 0) {
            var fnTimeout = setTimeout(
              changeNavigationLink(
                mutation_react_modal_portal.target.getElementsByClassName(
                  "modal-header-link"
                )?.[0]
              ),
              5000
            );
            ReactModalPortal_MutationObserver.disconnect();
          }
        });
    });

    const cartLayoutMutation = ({ mutations }) => {
      mutations
        .filter(
          (mutation) =>
            (mutation.target.tagName === "DIV" && mutation.target?.childNodes?.length > 0 && Array.from(mutation.target.childNodes).filter(
              (cn) =>
                cn?.className?.includes &&
                cn?.className?.includes("cartDrawer"))
            ) ||
            mutation?.target?.className?.includes?.("layout-cart") ||
            mutation?.target?.className?.includes?.("cartDrawer")
        )
        .forEach(function (mutation) {
          let showDetailsTag = mutation.target.getElementsByTagName("a");
          if (showDetailsTag.length > 0) {
            showDetailsTag = showDetailsTag[showDetailsTag.length - 1];
            if (showDetailsTag.innerText === "Show Details") {
              showDetailsTag.innerText = "Enter promo code / Show details";
            }
          }

          if (mutation.target.className?.includes("cartDrawer")) {
            ReactModalPortal_MutationObserver.observe(
              document.getElementsByClassName("ReactModalPortal")?.[0],
              {
                characterData: true,
                childList: true,
                subtree: true,
              }
            );
          } else {
            var fnTimeout = setTimeout(
              changeNavigationLink(
                mutation.target.getElementsByClassName("cart-header-link")?.[0]
              ),
              5000
            );
          }
        });
    };

    const mutationObserver = new MutationObserver(function (mutations) {
      mutations
        .filter(
          (mutation) =>
            mutation?.target?.className?.includes &&
            (mutation?.target?.className?.includes("checkout-steps") ||
              mutation?.target?.className?.includes("checkout-view-content") ||
              mutation?.target?.className?.includes("form-checklist"))
        )
        .forEach(function (mutation) {
          if ( mutation?.target?.className?.includes("checkout-view-content-enter-done") && document.getElementsByClassName("ulList-reorderd").length === 0) {
            reorderPaymentMethodList();
          }

          if (mutation.target.tagName.toLowerCase() === "ol") {
            let domCustEle = mutation.target.getElementsByClassName(
              "checkout-step--customer"
            );

            if (domCustEle?.length > 0) {
              domCustEle = domCustEle[domCustEle.length - 1];
              let customerViewctions = domCustEle.getElementsByClassName(
                "customerView-actions"
              );
              let guestForm = domCustEle.getElementsByClassName(
                "checkout-view-content"
              );

              // if user is logged in
              if (customerViewctions?.length > 0) {
                customerViewctions =
                  customerViewctions[customerViewctions.length - 1];
                customerViewctions.style.display = "none";
              } else if (
                guestForm?.length > 0 &&
                !document.getElementById(redeem_login_id)
              ) {
                // if user is not logged in
                guestForm = guestForm[guestForm.length - 1];
                const realGuestForm = document.getElementById(
                  "checkout-customer-guest"
                );
                let continue_button = document.getElementById(
                  "checkout-customer-continue"
                );
                if (continue_button) {
                  continue_button.innerText = "Continue as guest";
                }
                let guestPara = realGuestForm.getElementsByTagName("p");
                if (guestPara.length > 0) {
                  guestPara = guestPara[guestPara.length - 1];
                  guestPara.style.display = "none";

                  redeem_login_div.innerHTML = redeem_login;
                  realGuestForm.appendChild(redeem_login_div);
                }
              }
            }
          } else if (mutation.target.className.includes("checkout-view-content") && !CUSTOMER) {
            let realGuestForm =
              mutation.target.getElementsByClassName("checkout-form");
            if (realGuestForm.length > 0) {
              realGuestForm = realGuestForm[0];
              let continue_button = document.getElementById(
                "checkout-customer-continue"
              );
              if (continue_button) {
                continue_button.innerText = "Continue as guest";
              }
              let guestPara = realGuestForm.getElementsByTagName("p");
              if (
                guestPara.length > 0 &&
                !document.getElementById(redeem_login_id)
              ) {
                guestPara = guestPara[guestPara.length - 1];
                guestPara.style.display = "none";

                redeem_login_div.innerHTML = redeem_login;
                realGuestForm.appendChild(redeem_login_div);
              }
            }
          }
        });

      cartLayoutMutation({ mutations });
    });
    window.requestAnimationFrame(() => {
      mutationObserver.observe(document, {
        // attributes: true,
        childList: true,
        subtree: true,
      });
    });
  };
  const changeHeaderLink = () => {
    var headerLink = document.getElementsByClassName(
      "checkoutHeader-link"
    )?.[0];
    if (headerLink && headerLink?.href?.includes("sandbox")) {
      headerLink.href = referer;
    }
  };
  document.onreadystatechange = function () {
    if (document.readyState === "complete") {
      changeHeaderLink();
    }
  };

  const reorderPaymentMethodList = () => {
    const inputIds = [
      "radio-adyenv3-scheme",
      "radio-applepay",
      "radio-paypalcommerce",
      "radio-paypalcommercecredit",
    ];
    const paymentListClass = ".form-checklist.optimizedCheckout-form-checklist";
    const paymentList = document.querySelector(paymentListClass);
    if (paymentList) {
      paymentList.classList.add("ulList-reorderd");

      const paymentItemList = Array.from(paymentList.children);
      paymentItemList.forEach((paymentItem) => {
        const paymentItemId = paymentItem.querySelector("input")?.id;
        if (paymentItemId) {
          const indexOfItem = inputIds.indexOf(
            paymentItem.querySelector("input").id
          );
          if (indexOfItem >= 0) {
            paymentItem.style.order = indexOfItem;
            if (indexOfItem === 0) {
              paymentItem.style.borderBottom = "inherit";
            }
          }
        }
      });
    }
  };

  changeHeaderLink();
  createLPMutaionObserver();
</script> -->
